.ProfilePage-page {
    position: relative;

}

.ProfilePage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfilePage-body {
    display: flex;
    flex-direction: column;
    gap: 45px;
    background: #F3F6FA;
}

.ProfilePage-body h4 {
    font-weight: 600;
    font-size: 20px;
}

.ProfilePage-ProfileCard-container {
    margin-top: 75.54px;
    align-self: center;
}

.ProfilePage-bgInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 90px;
    margin-bottom: 180px;
    width: 1166px;
    
}

.ProfilePage-Exp-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.Exp-heading-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ProfilePage-Edu-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.Edu-heading-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Tabs {
    
}

.ProfilePage-showcase-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 40px;
}