.VidSubmissionPage-Body {
    display: flex;
    background: #F3F6FA;
    justify-content: center;
}

.VidSubmissionPage-content {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.VidSubmissionPage-InfoBox-container {
    

}

.VidSubmissionPage-VidBox-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


.VidSubmissionPage-Vid-container {
    background-color: #D7D7D7;
    max-width: 513px;
    max-height: 953px;
}

.VidSubmissionPage-Vid-container img {
    object-fit: contain;
    width: 513px;
    height: 953px;
}





/* .VidSubmissionPage-VidBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
} */