.MessageFeedItem-Container {
    box-sizing: border-box;
    /* Light / White */
    background: #FFFFFF;
    border: 1.41832px solid #FFFFFF;
    border-radius: 9.45549px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 612px;
    max-height: 112px;

}

.MessageFeedItem-Image {
    background: #F3F6FA;
    border-radius: 9.45549px;
    margin-left: 34.99px;
    margin-top: 18.91px;
    margin-bottom: 18.91px;
    margin-right: 31px;
}

.MessageFeedItem-InfoText {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
}

.MessageFeedItem-InfoText p {
    /* Light / Gray dark */
    color: #737B7D;
}

.MessageFeedItem-BookAndDate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 32.55px;
    margin-top: 24.58px;
    margin-bottom: 24.94px;
    margin-left: 31px;
}